@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --base-text: rgb(30 15 15);
  --bg-light: rgb(255 255 255);
  --bg-emphasis: rgb(95 177 238);
  --border-emphasis: rgb(83 116 251);
}

* {
  color: var(--base-text);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-light);
  font-family: 'Roboto', sans-serif !important;
  text-align: center;
  width: 100vw;
}

.banner {
  align-items: center;
  background-image: url(header.png);
  background-size: cover;
  color: var(--bg-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 240px;
  margin-bottom: 40px;
}

.banner i {
  background-color: transparent;
  color: inherit;
  font-size: 6rem;
}

.title {
  background-color: transparent;
  color: inherit;
  font-size: 3rem;
  margin-left: 20px;
}

.title.sub {
  font-size: 2rem;
  margin: 0 auto 20px auto;
  width: 100%;
}

.summary {
  display: flex;
  line-height: 20px;
  margin: 0 auto 40px auto;
  max-width: 800px;
  text-align: justify;
}

.summary p {
  padding: 0 20px;
  width: 100%;
}

.card {
  background-image: url('card.png');
  background-size: cover;
  border-top: 2px solid var(--border-emphasis);
  border-right: 2px solid var(--border-emphasis);
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto 40px auto;
  max-width: 720px;
  padding: 20px 40px;
  position: relative;
}

.avatar-container {
  background-color: transparent;
  width: 140px;
}

.avatar {
  border-radius: 50%;
  width: 100%;
}

.text-container {
  max-width: 480px;
}

.name {
  font-size: 1.3rem;
  padding: 20px 0 0 0;
  text-align: left;
}

.presentation-text {
  padding: 20px;
  text-align: justify;
}

.cta {
  background-color: var(--bg-emphasis);
  border-radius: 12px;
  color: var(--bg-light);
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 12px 36px;
  text-decoration: none;
  transition: all 0.3s ease;
  width: fit-content;
}

.cta:active {
  transform: scale(0.9);
}

.cta:hover {
  background-color: var(--border-emphasis);
  color: var(--bg-light);
}

.linkedin-profile {
  align-items: center;
  background-color: transparent;
  bottom: -4px;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  right: -2px;
  position: absolute;
}

.linkedin-profile i {
  background-color: transparent;
  color: var(--border-emphasis);
}

footer {
  align-items: center;
  background-image: url('footer.png');
  background-size: cover;
  color: var(--bg-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 20px;
}

footer i {
  background-color: transparent;
  color: inherit;
  font-size: 2rem;
}

footer p {
  background-color: transparent;
  color: inherit;
  margin-left: 20px;
  margin-right: 10vw;
}

@media (max-width: 720px) {
  .card {
    align-items: center;
    flex-direction: column;
    max-width: 640px;
    padding: 20px;
  }
}

@media (max-width: 640px) {
  .banner {
    height: 140px;
  }

  .banner i {
    font-size: 4rem;
  }
  
  .title {
    font-size: 2rem;
  }
  
  .title.sub {
    font-size: 1rem;
  }

  .card {
    margin: 40px 20px;
  }
}

@media (max-width: 480px) {
  .presentation-text {
    text-align: left;
  }

  .linkedin-profile {
    right: -2px;
  }
}

@media (max-width: 360px) {
  .banner {
    height: 100px;
  }

  .banner i {
    font-size: 3.5rem;
  }
  
  .title {
    font-size: 1.8rem;
  }
  
  .title.sub {
    display: none;
  }
}
