@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --base-text: rgb(30 15 15);
  --bg-light: rgb(255 250 245);
  --bg-emphasis: rgb(225 225 225);
  --border-emphasis: rgb(204 163 82);
}

* {
  background-color: var(--bg-light);
  color: var(--base-text);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif !important;
  text-align: center;
  width: 100vw;
}

.banner {
  align-items: center;
  background-color: var(--bg-emphasis);
  color: var(--border-emphasis);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 240px;
  margin-bottom: 40px;
}

.banner i {
  background-color: transparent;
  color: inherit;
  font-size: 6rem;
}

.title {
  background-color: transparent;
  color: inherit;
  font-size: 3rem;
  margin-left: 20px;
}

.title.sub {
  font-size: 2rem;
  margin: 0 auto 20px auto;
  width: 100%;
}

.summary {
  line-height: 20px;
  margin: 0 auto 40px auto;
  max-width: 840px;
  text-align: justify;
}

.card {
  border-top: 2px solid var(--border-emphasis);
  border-right: 2px solid var(--border-emphasis);
  border-top-right-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto 40px auto;
  max-width: 720px;
  padding: 20px 40px;
  position: relative;
}

.avatar-container {
  background-color: transparent;
  width: 140px;
}

.avatar {
  border-radius: 50%;
  width: 100%;
}

.text-container {
  max-width: 480px;
}

.name {
  font-size: 1.3rem;
  padding: 20px 0 0 0;
  text-align: left;
}

.presentation-text {
  padding: 20px;
  text-align: justify;
}

.cta {
  background-color: var(--bg-emphasis);
  border-radius: 12px;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 12px 36px;
  text-decoration: none;
  transition: all 0.3s ease;
  width: fit-content;
}

.cta:active {
  transform: scale(0.9);
}

.cta:hover {
  background-color: var(--border-emphasis);
  color: var(--bg-light);
}

.linkedin-profile {
  align-items: center;
  background-color: transparent;
  bottom: -4px;
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  right: -2px;
  position: absolute;
}

.linkedin-profile i {
  background-color: transparent;
  color: var(--border-emphasis);
}

footer {
  align-items: center;
  background-color: var(--bg-emphasis);
  color: var(--border-emphasis);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

footer i {
  background-color: transparent;
  color: inherit;
  font-size: 2rem;
}

footer p {
  background-color: transparent;
  color: inherit;
  margin-left: 20px;
}
